html {
  background-image: url("../img/shattered.png");
  font-family: 'Titillium Web', sans-serif; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-min-moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    html {
      background-image: url("../img/shattered_@2x.png"); } }

body {
  background-color: rgba(122, 224, 180, 0.5);
  font-size: 18px;
  line-height: 27px; }
